/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}
html
{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
main
{
    display: grid;
    grid-template-areas: 
    "web web"
    "img desc";
}
#divInfo
{
    display: grid;
}
#pub
{
    text-align: right;
}